[loggers]
keys=root

[handlers]
keys=default

[formatters]
keys=standard

[logger_root]
level=DEBUG
propagate=1
handlers=default

[handler_default]
class=StreamHandler
level=DEBUG
formatter=standard
args=(sys.stdout,)

[formatter_standard]
class=logging.Formatter
format='%(asctime)s [%(levelname)s] %(name)s: %(message)s'
